/* stylelint-disable */
:root {
  --rs-color-primary-100: #68459b;
  --rs-color-primary-80: #866aaf;
  --rs-color-primary-60: #a48fc3;
  --rs-color-primary-40: #c3b5d7;
  --rs-color-primary-20: #e1daeb;
  --rs-color-secondary-100: #345b7c;
  --rs-color-secondary-80: #5d7c96;
  --rs-color-secondary-60: #859db0;
  --rs-color-secondary-40: #aebdcb;
  --rs-color-secondary-20: #d6dee5;
  --rs-color-neutral-text-100: #143753;
  --rs-color-neutral-text-80: #435f75;
  --rs-color-neutral-text-60: #728798;
  --rs-color-neutral-text-40: #a1afba;
  --rs-color-neutral-text-20: #d0d7dd;
  --rs-color-neutral-gray-100: #dfe3e6;
  --rs-color-neutral-gray-80: #e5e9eb;
  --rs-color-neutral-gray-60: #eceef0;
  --rs-color-neutral-gray-40: #f2f4f5;
  --rs-color-neutral-gray-20: #f9f9fa;
  --rs-color-neutral-white-100: #fefefe;
  --rs-color-neutral-white-80: #fefefecc;
  --rs-color-neutral-white-60: #fefefe99;
  --rs-color-neutral-white-40: #fefefe66;
  --rs-color-neutral-white-20: #fefefe33;
  --rs-color-neutral-background-100: #f9f9f9;
  --rs-color-neutral-background-80: #fafafa;
  --rs-color-neutral-background-60: #fbfbfb;
  --rs-color-neutral-background-40: #fdfdfd;
  --rs-color-neutral-background-20: #ffffff;
  --rs-color-neutral-panel-100: #d6ecf4;
  --rs-color-neutral-panel-80: #def0f6;
  --rs-color-neutral-panel-60: #e6f4f8;
  --rs-color-neutral-panel-40: #eff7fb;
  --rs-color-neutral-panel-20: #f7fbfd;
  --rs-color-neutral-dark-background-100: #000000;
  --rs-color-neutral-dark-background-80: #333333;
  --rs-color-neutral-dark-background-60: #666666;
  --rs-color-neutral-dark-background-40: #999999;
  --rs-color-neutral-dark-background-20: #cccccc;
  --rs-color-message-error-100: #e0182d;
  --rs-color-message-error-80: #e64657;
  --rs-color-message-error-60: #ec7481;
  --rs-color-message-error-40: #f3a3ab;
  --rs-color-message-error-20: #f9d1d5;
  --rs-color-message-success-100: #5aa700;
  --rs-color-message-success-80: #7bb933;
  --rs-color-message-success-60: #9cca66;
  --rs-color-message-success-40: #bddc99;
  --rs-color-message-success-20: #deedcc;
  --rs-color-message-missing-100: #e7e270;
  --rs-color-message-missing-80: #ebe88c;
  --rs-color-message-missing-60: #f0eda9;
  --rs-color-message-missing-40: #f5f3c6;
  --rs-color-message-missing-20: #faf9e2;
  --rs-color-status-new-100: #2cb7da;
  --rs-color-status-new-80: #56c5e1;
  --rs-color-status-new-60: #80d4e9;
  --rs-color-status-new-40: #abe2f0;
  --rs-color-status-new-20: #d5f1f8;
  --rs-color-status-completed-100: #96cc3b;
  --rs-color-status-completed-80: #abd662;
  --rs-color-status-completed-60: #c0e089;
  --rs-color-status-completed-40: #d5ebb1;
  --rs-color-status-completed-20: #eaf5d8;
  --rs-color-status-not-completed-100: #a3a3a3;
  --rs-color-status-not-completed-80: #b5b5b5;
  --rs-color-status-not-completed-60: #c8c8c8;
  --rs-color-status-not-completed-40: #dadada;
  --rs-color-status-not-completed-20: #ededed;
  --rs-color-status-ignored-100: #f3a55f;
  --rs-color-status-ignored-80: #f5b77f;
  --rs-color-status-ignored-60: #f8c99f;
  --rs-color-status-ignored-40: #fadbbf;
  --rs-color-status-ignored-20: #fdeddf;
  --rs-color-black: #000;
  --rs-color-white: #fff;
}
